
@mixin phone {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin bigPhone {
  @media (min-width: 577px) {
    @content;
  }
}

@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin bigPad {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin PC {
  @media (min-width: 1200px) {
    @content;
  }
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  touch-action: pan-y;
}

%placeInTheMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
}

body {
  @extend %placeInTheMiddle;
  align-items: flex-start;
  // background-color: rgb(118, 200, 229);
  background-color: rgb(233, 128, 109);
  // background-image: linear-gradient(90deg, #8b4fc7 0%, rgb(122, 162, 222) 30%, #d39d5b 100%);
}

div {
  @extend %placeInTheMiddle;
  width: 100%;
}

.notShow {
  display: none;
}

@mixin userSelect($property) {
  -webkit-user-select: $property;
  -moz-user-select:  $property;
  -ms-user-select: $property;
}

.mainConcept {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  overflow: scroll;
  padding: 0 1%;
  border: solid 2px rgb(152, 51, 152);

  @include phone {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }

  @include bigPhone {
    flex-direction: row;
    align-items: flex-start;
  }
}


@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
 
}

@media (min-width: 1200px) {

}

$R: solid 2px rgb(240, 80, 80);
$O: solid 2px rgb(255, 190, 68);
$G: solid 2px rgb(51, 148, 98);
$B: solid 2px rgb(65, 65, 244);
$P: solid 2px rgb(152, 51, 152);


@import './SCSS/navgation.scss';
@import './SCSS/navIcons.scss';
@import './SCSS/mainBody.scss';
@import './SCSS/navOptions.scss';
@import './SCSS/navList.scss';
@import './SCSS/sideBody';



// @media (max-width: 576px) {
 
// }

// @media (min-width: 577px) {
 
// }

// @media (min-width: 768px) {
 
// }

// @media (min-width: 992px) {
 
// }

// @media (min-width: 1200px) {

// }