@import './SCSS/setting';
@import './SCSS/cpaoo';
@import './SCSS/navgation.scss';
@import './SCSS/navOptions.scss';
@import './SCSS/mainBody.scss';
@import './SCSS/informationBlock';
@import './SCSS/sideBody';
@import './SCSS/personalSetting.scss';