.mainBody {
  @extend %plf;
  min-width: 598px;
  overflow: scroll;
  outline: none;
  padding: 0 2%;
  border: $R;
  flex-direction: column;
}

.header {
  @extend %df;
  justify-content: space-between;
  padding: 0 2%;
}

$logoRatio: 4rem;

.logo {
  height: $logoRatio;
  width: 1.046 * $logoRatio;
  z-index: 1000;
  box-shadow:  2px 5px 10px rgb(48, 48, 1);
  border-radius: 50%;
  background-image: 
    linear-gradient(
      160deg,
      rgb(240, 239, 196) 0%,
      rgb(245, 242, 134) 40%,
      rgb(154, 150, 45) 70%,
      rgb(103, 103, 11) 100%,
    );
}

.messageBlock {
  margin-top: 1rem;
  width: 100%;
  height: 200px;
  border: $G;
}

.informSection {
  @extend %dfc;
  max-height: 70%;
  overflow: scroll;
}

@include phone {
  .mainBody {
    min-width: 320px;
    max-width: 598px;
    width: 100%;
    padding: 0;
  }
}

@include bigPhone {
  .mainBody {
    min-width: 320px;
    max-width: 598px;
  }
}

@include pad {
  .mainBody {
    min-width: 598px;
    max-width: 598px;
  }
}

@include bigPad {
  .mainBody {
    min-width: 598px;
    max-width: 598px;
  }
}

@include PC {
  .mainBody {
    min-width: 598px;
    max-width: 598px;
  }
}