.blockOfOptionNList {
  @extend %plm;
  width: 100%;
  min-width: 53px;
  padding: 0;
  flex-direction: column;
  outline: none;
  border-radius: 8px;
}

.blockOfOptionNListTriggered {
  @extend .blockOfOptionNList;
  background-color: rgb(113, 127, 208);
}

.navOptions {
  @extend %navBase;
  min-height: 73px;
  justify-content: center;
  align-items: flex-end;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  outline: none;
}

.capooContainer {
  align-items: flex-end;
}

.navOptionsCog {
  @extend .navOptions;
  font-size: 2.8rem;
  min-height: 63px;
  align-items: center;
  color: #d0dd70;
}


.capooImage {
  width: 5rem;
}

.optionDescriptions {
  font-size: 1.2rem;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.optionDescriptionCog {
  @extend .optionDescriptions;
  align-items: flex-end;
  padding-top: 1rem;
}

.optionOptions {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 8px;
  background-color: #3f51b7;
  option {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    border-radius: 8px;
    padding: 0.5rem 0 0.5rem 10%;
    color: white;
    border-bottom: white 1px solid;
    cursor: pointer;
    &:hover {
      background-color: #71d0c2;
    }
  }
 
}

@include phone {
  .capooImage {
    width: 4.5rem;
  }

  .optionDescriptions {
    display: none;
  }

  .optionOptions {
    z-index: 100;
  }

  .blockOfOptionNListTriggered {
    flex-direction: column-reverse;
    position: absolute;
  }

  .optionOptions option{
    justify-content: center;
    padding: 0.5rem 0;
  }
}

@include bigPhone {
  .blockOfOptionNListTriggered {
    transform: translate(1.5rem, 0.8rem);
  }

  .optionDescriptions {
    display: none;
  }
}

@include pad {
  .optionDescriptions {
    display: none;
  }
}

@include bigPad {
  .optionDescriptions {
    display: none;
  }
}

@include PC {
  .optionDescriptions {
    display: flex;
  }

  .blockOfOptionNList {
    padding: 0.2rem 0 0 0;
  }

  .optionOptions option {
    font-size: 1rem;
  }
}