.blockOfIconNList {
  @extend %placeInTheMiddle;
  width: 100%;
  min-width: 53px;
  padding: 0.5rem 0;
  flex-direction: column;;
  border: $R;
}

%navBase {
  @extend %placeInTheMiddle;
  width: 100%;
  min-width: 2rem;
  outline: none;
  font-size: 2rem;
  justify-content: flex-start;
}

%navBase:hover {
  cursor: pointer;
}

.navIcons {
  @extend %navBase;
  color: red;
}

.navIcons1 {
  @extend %navBase;
  color: rgb(255, 0, 179);
}

.navIcons2 {
  @extend %navBase;
  color: rgb(0, 187, 255);
}

@include phone {
}

@include bigPhone {
}

@include pad {
 
}

@include bigPad {
 
}

@include PC {

}