$navWidthOne: 235px;
$navWidthTwo: 86px;

.navBackground {
  width: $navWidthOne;
  flex-direction: column;
  min-width: $navWidthTwo;
  padding: 0.5rem 0;
  border: $B;
  @include userSelect(none);
}

.navBar {
  @extend %placeInTheMiddle;
  width: 100%;
  flex-direction: column;
}

//distinct area of options and icons
%navArea {
  @extend %placeInTheMiddle;
  outline: none;
  margin: 0 0 1rem 0;
  justify-content: space-between;
}

$logoRatio: 4rem;

.logo {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: $logoRatio;
  width: 1.046 * $logoRatio;
  z-index: 1000;
  box-shadow:  2px 5px 10px rgb(48, 48, 1);
  border-radius: 50%;
  background-image: 
    linear-gradient(
      160deg,
      rgb(240, 239, 196) 0%,
      rgb(245, 242, 134) 40%,
      rgb(154, 150, 45) 70%,
      rgb(103, 103, 11) 100%,
    );
}

.navOption {
  @extend %navArea;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  outline: none;
}

.navIcon {
  @extend %navArea;
  width: 100%;
}

@include phone {
  .navBackground {
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-items: flex-end;
    padding: 0;
  }

  .navBar {
    flex-direction: row;
  }

  %navArea {
    width: 100%;
  }

  .logo {
    right: 0.5rem;
    bottom: 90px;
  }

  .navOption {
    flex-direction: row;
    margin: 0;
  }

  .navIcon {
    display: none;
  }
}

@include bigPhone {
  %navArea {
    width: 100%;
  }

  .navBackground {
    width: $navWidthTwo;
  }

  .logo {
    left: 50%;
    top: 4rem;
  }

  .navOption {
    flex-direction: column;
  }


  .navIcon {
    display: flex;
    flex-direction: column;
  }
}

@include pad {
  %navArea {
    width: 100%;
  }

  .navBackground {
    width: $navWidthTwo;
  }

  // .navOption {

  // }

  // .navOptionsTriggered {
  // }

  // .navIcon {
    
  // }
}

@include bigPad {
  %navArea {
    width: 100%;
  }

  .navBackground {
    width: $navWidthTwo;
  } 

  .navOption {
    width: $navWidthTwo;
  }
  
  .navIcon {
    width: $navWidthTwo;
  }
}

@include PC {
  .navBackground {
    width: $navWidthOne;
    padding: 0.5rem 2%;
  } 

  .navOption {
    width: 100%;
  }

  .navIcon {
    width: 100%;
  }
}