.blockOfOptionNList {
  @extend %placeInTheMiddle;
  width: 100%;
  min-width: 53px;
  padding: 0.2rem 1rem 0.2rem 0;
  flex-direction: column;
  outline: none;
}

.navOptions {
  @extend %navBase;
  justify-content: center;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  outline: none;
}

.capooContainer {
  width: 5rem;
}

.optionDescriptions {
  writing-mode: vertical-lr;
  font-size: 1.2rem;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

@media (max-width: 576px) {
  .optionDescriptions {
    display: none;
  }
}

@media (min-width: 577px) {
  .optionDescriptions {
    display: none;
  }
}

@media (min-width: 768px) {
  .optionDescriptions {
    display: none;
  }
}

@media (min-width: 992px) {
  .optionDescriptions {
    display: none;
  }
}

@media (min-width: 1200px) {
  .optionDescriptions {
    display: flex;
  }
}