.blockOfIconNList {
  @extend %plm;
  width: 100%;
  min-width: 53px;
  padding: 0.5rem 0;
  flex-direction: column;;
  border: $R;
}

.navIcons {
  @extend %navBase;
  color: red;
}

.navIcons1 {
  @extend %navBase;
  color: rgb(255, 0, 179);
}

.navIcons2 {
  @extend %navBase;
  color: rgb(0, 187, 255);
}

@include phone {
}

@include bigPhone {
}

@include pad {
 
}

@include bigPad {
 
}

@include PC {

}