.navBar {
  width: 100%;
  height: 10vh;
  padding: 2vh 5vw;
  background-color: rgb(100, 226, 186);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

%navArea {
  display: flex;
  width: 50%;
}

.navOption {
  @extend %navArea;
  justify-content: flex-start;
}

.navIcon {
  @extend %navArea;
  justify-content: flex-end;
}