.sideBody {
  @extend %placeInTheMiddle;
  width: 350px;
  flex-direction: column;
}

.whatsNew {
  width: 100%;
  height: 20rem;
  border: $G;
}

@include phone {
  .sideBody {
    display: none;
  }
}

@include bigPhone {
  .sideBody {
    display: none;
  }
}

@include pad {
  .sideBody {
    display: none;
  }
}

@include bigPad {
  .sideBody {
    display: flex;
    min-width: 290px;
  }
}

@include PC {
  .sideBody {
    display: flex;
    min-width: 350px;
  }
}