.sideBody {
  @extend %plm;
  width: 350px;
  flex-direction: column;
}

.whatsNew {
  width: 100%;
  height: 20rem;
  border: $G;
}

.copyRight {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  color: $ThirdColor;
  margin: 1rem;
  white-space: pre;
}

@include phone {
  .sideBody {
    display: none;
  }
}

@include bigPhone {
  .sideBody {
    display: none;
  }
}

@include pad {
  .sideBody {
    display: none;
  }
}

@include bigPad {
  .sideBody {
    display: flex;
    min-width: 290px;
  }
}

@include PC {
  .sideBody {
    display: flex;
    min-width: 350px;
  }
}